<?xml version="1.0" encoding="UTF-8"?>
<opml version="1.0">
  <head>
    <title><%= @schema.title.encode(xml: :text) %></title>
  </head>
  <body>
    <outline text=<%= @schema.title.encode(xml: :attr) %> title=<%= @schema.title.encode(xml: :attr) %>>
      <% page_schemata.each do |page_schema| %>
        <outline type="rss" attr=<%= page_schema.title.encode(xml: :attr) %> title=<%= page_schema.title.encode(xml: :attr) %> xmlUrl="<%= "#{request.base_url}#{feed_path(page_id: page_schema.id)}" %>" htmlUrl="<%= page_schema.url %>"/>
      <% end %>
    </outline>
  </body>
</opml>
