<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <description></description>
    <link><%= "#{request.base_url}#{request.script_name}" %></link>
    <atom:link href="<%= request.base_url %>/feeds/<%= page_name %>" rel="self"/>
    <title><%= @page.title %></title>
    <lastBuildDate><%= Time.now.rfc822 %></lastBuildDate>
    <% items.each do |item| %>
    <item>
      <title><![CDATA[<%= item.title %>]]></title>
      <link><%= item.link %></link>
      <pubDate><%= item.time.rfc822 %></pubDate>
      <content:encoded><![CDATA[<%= item.description %>]]></content:encoded>
      <guid isPermaLink="true"><%= item.link %></guid>
    </item>
    <% end %>
  </channel>
</rss>
