<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title><![CDATA[<%= @page.title %>]]></title>
    <link><%= "#{@page.url}" %></link>
    <atom:link href="<%= "#{request.base_url}#{request.path}" %>" rel="self"/>
    <description><![CDATA[Recent content on <%= @page.title %>]]></description>
    <lastBuildDate><%= Time.now.rfc822 %></lastBuildDate>
    <% items.each do |item| %>
    <item>
      <title><![CDATA[<%= item.title %>]]></title>
      <link><%= item.link %></link>
      <% if item.time %>
        <pubDate><%= item.time.rfc822 %></pubDate>
      <% end %>
      <description><![CDATA[<%= item.description %>]]></description>
      <content:encoded><![CDATA[<%= item.description %>]]></content:encoded>
      <guid isPermaLink="true"><%= item.link %></guid>
    </item>
    <% end %>
  </channel>
</rss>
